@using SearchResultsPaging.Types

@model SearchModel

@{
    ViewBag.Title = "Search Results Paging Example";
}

<script type="text/javascript">
    function onPageResults(page) {
        $('#page').val(page);
        $('#searchForm').submit();
    }
</script>

<h2>Search Results Paging Example</h2>

@using (Ajax.BeginForm("Index", null, new AjaxOptions { UpdateTargetId = "searchResultsDiv" }, new { Id = "searchForm" }))
{
    @Html.Hidden("page", Model.CurrentPage)

    <br />
    @Html.LabelFor(e => e.PageSize, "Page Size: ")
    @Html.TextBoxFor(e => e.PageSize, new { value = Model.PageSize })
    <input type="submit" value="Update" onclick="$('#page').val(1);" />
    <hr />
    
    <div id="searchResultsDiv">
        @Html.Partial("/Views/Controls/SearchResults.cshtml")
    </div>
}