@using SearchResultsPaging.Types
@using SearchResultsPaging.Helpers

@model PagingModel

    <div>
        Displaying <b>@Model.CurrentResultsMin</b> - <b>@Model.CurrentResultsMax</b> of <b>@Model.TotalResults</b> results
    </div>
    <div>
        @Html.Raw(Html.SmartPage(Model.CurrentPage, Model.PageSize, Model.TotalResults, "<span style='color:#c0c0c0;'>|</span>", "#", "onSmartPage([PAGE]);", "< Prev", "Next >", 3, 3, 1))
    </div>
